<section class="mag justify-content-center container px-3 py-5 col-md-5">
  <div class="auth-container">  <form class="formulario-login" action="/login" method="POST"><!--Início do formulário-->

      <h1>Login</h1>
      
      <div class="form-control" id="area-input">
      <input required type="text" name="email" class="input-contato">
      <label for="email" class="titulo-input">E-mail</label>
      </div>

      <div class="form-control" id="area-input">
        <input required type="password" name="password" class="input-contato">
        <label for="password" class="titulo-input">Senha</label>
        </div>

           <input type="submit" value="Entrar">
        <p>Não tem conta? <a href="/register">Clique aqui</a></p>
    </div>

</form>
</section>