  <div class="" style="margin: 10em;">
    <a href="/task/dashboard">Voltar</a>
      <h1>Criando uma tarefa:</h1>
      <form action="/task/add" method="POST">
          <div class="form-control">
              <label for="title">Título:</label>
              <input type="text" name="title" placeholder="Digite o título">
          </div>
          <input type="submit" value="Criar">
      </form>
  </div>

