<div style="margin: 200px;"><!--Título-->
    <h1>Tarefas</h1>
    <a href="/task/add">
      <button>Adicionar</button>
    </a>
  </div><!--Título-->

  <div><!--Dashboard-->
    <ul>
        {{#each task}}
          <li>
              <span class="label">{{this.title}}</span>
              <span class="actions">
                  <a href="/task/edit/{{this.id}}" class="btn">Editar</a>
                  <form action="/task/remove" method="POST">
                      <input type="hidden" name="id" value="{{this.id}}">
                      <input type="submit" value="Excluir" class="btn">
                  </form>
              </span>
          </li>
        {{/each}}
  </ul>
  </div>