<div style="margin-top: 10em;" class="form-container">
  <a href="/task/dashboard">Voltar</a>
  <h1>Editando Tarefa:</h1>
  <form action="/task/edit" method="POST">
    <input type="hidden" name="id" value={{task.id}}>
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título" value="{{task.title}}">
    </div>
    <input type="submit" value="Editar Tarefa">
   </form>
    </div>

