<div data-aos="fade-down" data-aos-duration="1500" class="container px-3 py-5 mag" id="featured-3">
    <div class="borda col-12">
        <h1>To do List</h1>
        <h4>Gerenciador de Tarefas</h4>
    </div>
    <div class="sobre-nos row ">    
    <div class=" col-md-6 imgbloco">
      <img src="img/bloco de notas.jpg" style="width: 100%;" alt="alien-pc" class="img-empresa">
    </div>      

    <div class="col-md-6 listagemain align-self-center ">
       <ul>
        <li class="my-5">Gerencie as suas tarefas diárias</li>
        <li class="my-5" >Planeje de maneira inteligente o seu dia</li>
        <li class="my-5">Acesse em  qualquer horar e lugar</li>
       </ul>
      <a href="/login"><button class="botao-home mt-1">Começe já as suas anotações</button></a>
    </div>
  </div>
</div>
